<!--
This template loads for the 'tab.friend-detail' state (app.js)
'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
The FriendsCtrl pulls data from the Friends service (service.js)
The Friends service returns an array of friend data
-->
<ion-view view-title="{{topic.title}}">
<ion-content class="padding">
<h3>{{article.title}}</h3>
<div class="content">
  {{article.top_post.content}}
</div>
<div ng-controller="TopicCommentsCtrl as commentsCtrl">
  <ul  class="comment-list">
    <li ng-repeat="comment in comments" ng-attr-id="comment-{{comment.id}}" class="comment">
      <div class="comment-avatar">
        <img ng-src="{{base_url + comment.user.avatar_url}}" style="width: 50px; height: 50px"/>
      </div>
      <div class="comment-floor">
        {{comment.floor}}
      </div>
      <div class="comment-body">
        <div class="comment-user">{{comment.user.name}}</div>
        {{comment.content}}
      </div>
    </li>
  </ul>
  <form method="post" ng-controller="NewCommentCtrl">
    <input ng-model="comment.content">
    <input ng-click="submit()" value="回复" type="button">
  </form>
</div>
</ion-content>
</ion-view>
