/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";


.comment-avatar, .comment-body {
  float: left;
}
.comment-floor {
  float: right;
  color: #ccc
}
.comment-avatar {
  width: 50px;
  height: 40px;
}
.comment-body {
  width: 230px;
  margin-left: 10px;

}
.comment {
  @include clearfix();
  border-bottom: 1px solid #ededed;
  padding-top: 10px;
  padding-bottom: 10px;
}
